@media screen and (max-width:1075px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Full height of the viewport */
        margin: 0;
    }

    .header_1:nth-child(1) h1{
        font-size: 20px;
    }

    .header_1:nth-child(1) p{
        font-size: 12px;
        margin: unset !important;
    }
}

@media screen and (max-width: 900px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120vh; /* Full height of the viewport */
        margin: 0;
    }

    .header{
        width: 97%;
    }


    .header_1:nth-child(1) h1{
        font-size: 15px;
    }
}